h1{
    text-align: center;

}
body{
    background-image:https://previews.123rf.com/images/neue86/neue861808/neue86180800070/111885772-seamless-pattern-in-thin-line-style-for-poultry-shop-and-restaurant-chicken-goose-duck-and-turkey.jpg;
}
img{
    max-width: 100%;
    height:auto
}